p{color: rgb(253, 253, 253);}
.divContainerItems{

    height: auto;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayPortrait{
    width: 200px;border: none;
    z-index: 20;
}
.divContainerCards{
    margin-top:65px;
    background-color: rgba(2, 0, 3, 0.39);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.divCard{

    width: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        border-radius: 10px;
        -webkit-box-shadow: inset 0px 1px 6px 6px rgba(0,0,0,0.24); 
        box-shadow: inset 0px 1px 6px 6px rgba(0,0,0,0.24);
    
}

a{
    text-decoration: none;
}
h2{
    color:white ;
    text-align: center;
    text-decoration: none;
}
/* 
.divCard{
    background-image: url('/assets/background.png');
    background-position: center;
    background-size: contain;
    background-clip: border-box;
} */



.divCard:hover{
    transform: scale(1.01);
}

.fondoBonito{
    width: 200px;border: none;
    position: absolute;
   
    z-index: 100;
}

